/* Navbar */
.navbar {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.18);
  background-color: #cebeb0;
  margin-bottom: 0 ; /* Elimina el margen inferior */
}
.navbar .navbar-brand img {
  width: 80px;
  height: 80px;
  margin-left:25px  ;
}
@media screen and (min-width: 1200px) {
  .navbar {
    letter-spacing: 0.05em;
  }
  .navbar-collapse .navbar-nav .nav-link {
    padding: 0.2em 1em;
  }
  .navbar .navbar-brand img {
    max-width: 7em;
  }
}
@media screen and (min-width: 768px) {
  .navbar .navbar-brand img {
    max-width: 6em;
  }
  .navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .search-and-icons,
  .contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .search-and-icons {
    width: 70%;
  }
  .navbar form {
    flex: 1;
  }
}
.navbar-collapse .navbar-nav .nav-link {
  color: #000;
}
.contact-info p {
  justify-content: center;
  font-size: 0.8em;
  padding-right: 1em;
  color: #000;
}
.contact-info a {
  color: #000;
  text-decoration: underline;
}
.user-icons div {
  padding-right: 1em;
  font-size: 1.2em;
  color: #000;
}
.navbar form input {
  border-radius: 0;
}
.navbar form input[type="search"] {
  height: 2em;
  background: #fff
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 95%;
}
.navbar form input[type="search"]:focus {
  background: #fff;
  box-shadow: none;
}

/*footer*/

footer{
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #cebeb0;;  
  border-color: black;
  
}

footer {
  background-color: #cebeb0;;
  color: black;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
}

footer p {
  color: black; 
}
.footer-image {
  max-height: 100px; 
  width: auto; 
}
.social-media {
  display: flex;
  flex-direction: column; /* Coloca los íconos uno debajo del otro */
  align-items: center; /* Centra los íconos horizontalmente */
}

.social-media a {
  margin: 0.5rem 0; /* Espacio entre los íconos */
}


/* Estilo para el footer al final de la página */
.footer-bottom {
  background-color: #cebeb0;
  padding: 0.5rem 0;
}

.carousel {
  position: relative;
  top: -50px; 
}